/* Carousel */
.carousel-item{
    width: auto;
    align-items: center;
    justify-content: center;
}

.carousel-caption{
    text-align: center;
    align-items: center;
    float: center;
    margin-bottom: 10%;
}
.carousel-caption h3{
    font-size: 9vh;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: merienda;
}
.carousel-caption p{
    margin: auto;
    font-size: 3vh;
    line-height:1.9;
    font-family: poppins;
}


/* Conteúdo */
.content-site{
    text-align: justify;
    padding-top: 50px;
    padding-bottom: 75px;
    background-color: #ffffff;
    color: #212121;
}
#texto_img{
    text-align: center;
    vertical-align: middle;
    margin-top: 10%;
}
#texto_img h1{
    font-size: 7vh;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: Comons;
}
#texto_img p{
    font-size: 2vh;
    letter-spacing: 2px;
    line-height: 1.9;
    font-family: poppins;
}


/* Cards dos Conteúdos */
.card-title{
    color: #000000;
    font-weight: bold;
    font-family: merienda;
    text-align: center;
    text-decoration: none;
}
.card-title:hover{
    text-decoration: none;
}
.card-text{
    color: #000000;
    font-family: poppins;
    text-align: center;
}
.card:hover{
    transition: 0.6s;
    box-shadow: 0 2px 4px rgba(0,0,0,.5);
    text-decoration: none;
}

/* Botao Enviar */
#cor_laranja_btn{
    background: linear-gradient(to right, #ff4f00, #ff5d14);
    color: #ffffff;
    font-weight: bold;
    border-radius: 25px;
}
#cor_laranja_btn:hover{
    color: #000;
    background: linear-gradient(to left, #ff783b, #ff783b);
    transition: .6s;  
}

/* Efeito Parallax */
.header-site{
    background-image: url(../img/image1-parallax.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #ffffff;
    height: 100vh;
}
.img-site{
    background-image: url(../img/image1-parallax.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    height: 40vh;
}
.img2-site{
    background-image: url(../img/image2-parallax.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    height: 40vh;
}
.img3-site{
    background-image: url(../img/image3-parallax.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    height: 40vh;
}


/* Efeito Scroll Suave */
html{
    scroll-behavior: smooth;
}

/* Botão voltar ao topo */
#btnTop{
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 40px;
    width: 40px;
    color: #ffffff;
    background: linear-gradient(to left, #ff4f00, #ff5d14);
    border: none;
    border-radius: 50vh;
    display: none;    
}


/* Cor dos Logos */
.envCont{
    position: relative;
    display: block;
    width: 5vh;
    height: 5vh;
    padding: 1vh;
    border-radius: 50%;
    background-color: #ff5100;
    color:  #fff;
    text-align: center;
}
.fa-whatsapp{
    position: relative;
    display: block;
    width: 5vh;
    height: 5vh;
    padding: 1vh;
    border-radius: 50%;
    background-color: #ff5100;
    color:  #fff;
    text-align: center;
}
.fa-map-marker{
    position: relative;
    display: block;
    width: 5vh;
    height: 5vh;
    padding: 1vh;
    border-radius: 50%;
    background-color: #ff5100;
    color:  #fff;
    text-align: center;
}
.fa-phone{
    margin-left: 3px;
}

/* Contato */
#bordaEsquerdaContato{
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #000;
}
.esquerda{
    text-align: left;
}
#margemEsq2{
    margin-left: 1%;
}
#margemEsq3{
    margin-left: 2%;
}
#margemEsq4{
    margin-left: 1%;
}
#margemEsq5{
    margin-left: 10%;
}
#titulo_contato{
    color: #ff5100;
    font-size: 5vh;
}
#info{
    height: 25vh;
}
#staticEmail{
    color: #000000;
    font-weight: bold;
}
#titulos{
    color: #000000;
    font-weight: bold;
}
.fundo{
    background: linear-gradient(to right, #ff4f00, #ff5d14);
    color: #fff;
    border: none;
    margin-left: 3%;
}
#tamanho{
    width: 50vh;
    border-radius: 5px;
}
.laranja{
    background: linear-gradient(to right, #ff4f00, #ff5d14);
    color: #fff;
    border: none;
}
#iconInput{
    color: #fff;
    margin-left: 1%;
}
#basic-addon1{
    border-radius: 25px;
}
textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 

/* Input Com placeholder branco */
::-webkit-input-placeholder{
    color: #fff;
}
:-ms-input-placeholder{
    color: #fff;
}
::-moz-placeholder{
    color: #fff;
    opacity: 1;
}
:-moz-placeholder{
    color: #FFF;
    opacity: 1;
}


/* Modal */
.modal-title{
    text-align: center;
}


/* Footer */
.footer{
    background-color: #ff5100;
    color: #ffffff;
    font-weight: bold;
}
#texto-footer{
    font-size: 5vh;
    font-family: merienda;
    padding-top: 13px;
}
#icone_footer{
    width: 12vh;
    padding-right: 2%;
}