/* Navbar */
#iconNavbar{
    width: 7vh;
}
.navLinks a{
    background: linear-gradient(to right, #ff5000, #ff783b);
    color: #ffffff;
    font-family: poppins;
    margin-left: 20px;
    font-size: 1.8vh;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 25px;
    text-align: center;
    width: 95%;
}
#whiteColor{
    color: #fff;
}
#whiteColor:hover{
    color: #fff;
    background: linear-gradient(to left, #ff783b, #ff783b);
    transition: .6s;
}
.navbar{
    width: 100%;
    overflow: auto;
}
.navbar-toggler-icon{
    float: right;
}
.navbar ul{
    padding: 0;
    list-style: none;
}

/* Redes Sociais Contato Navbar */
.socialMedias ul{
    position: absolute;
    padding: 0;
    margin: 0;
    transform: translate(-50%, -50%);
    display: inline-flex;
}
.socialMedias li{
    list-style: none;
    margin: 0 5px;
    display: inline-flex;
}
.socialMedias li .fa{
    font-size: 3vh;
    line-height: 170%;
    color: #000;
}
.socialMedias li .fa{
    color: #fff;
}
.socialMedias li a{
    position: relative;
    display: block;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    transition: .6s;
}
.socialMedias li:nth-child(1) a{
    background: linear-gradient(to right, #ff5000, #ff783b);
}
.socialMedias li:nth-child(2) a{
    background: linear-gradient(to right, #ff5000, #ff783b);
}
.socialMedias li:nth-child(3) a{
    background: linear-gradient(to right, #ff5000, #ff783b);
}
.socialMedias li:nth-child(1) a:hover{
    background: linear-gradient(to left, #ff783b, #ff783b);
}


/* Botão Navbar */