*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
nav{
    height: 80px;
    background: #ffffff;
}
nav img{
    width: 7vh;
    position: absolute;
    top: 17px;
    left: 12%;
}
nav ul{
    float: right;
    margin-right: 25px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 15px;
}
nav ul li a{
    position: relative;
    color: #fff;
    font-weight: bolder;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 25px;
    text-transform: uppercase;
    background: linear-gradient(to right, #ff5000, #ff783b);
}
#effect:hover{
    background-color: #ff783b;
    color: #fff;
    text-decoration: none;
}
.checkIcons{
    float: right;
}
#btn,
#cancel{
    color: #000;
    font-size: 30px;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

@media (max-width: 1118px){
    nav img{
        left: 8%;
    }
}
@media (max-width: 994px){
    nav img{
        left: 6%;
        top: 20px;
        width: 50px;
    }
    nav ul li a{
        font-size: 17px;
    }
}
@media (max-width: 860px){
    label #btn{
        display: block;
    }
    ul{
        position: absolute;
        width: 100%;
        height: 85vh;
        background: #fff;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 3;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    #check:checked ~ ul{
        left: 0;
    }
    #check:checked ~ label #btn{
        display: none;
    }
    #check:checked ~ label #cancel{
        display: block;
    }
}