/* Navbar */
#logo{
    width: 7vh;
}
#cor_escrito{
    color: #ffffff;
    font-family: poppins;
    margin-left: 20px;
    font-size: 1.8vh;
    text-transform: uppercase;
    background: linear-gradient(to right, #ff4f00, #ff5d14);
    font-weight: bold;
    border-radius: 25px;
    transition: .3s;
    text-align: center;
    width: 95%;
}
#cor_escrito:hover{
    font-family: poppins;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 10px;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 5px 4px rgba(0,0,0,.5);
}
.navbar{
    width: 100%;
    overflow: auto;
}
.navbar-toggler-icon{
    float: right;
}
.navbar ul{
    padding: 0;
    list-style: none;
}
.navbar-nav a:hover{
    font-family: poppins;
    font-size: 2.2vh;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 10%;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 5px 4px rgba(0,0,0,.5);
}
.navbar-right{
    margin-left: 10%;
}
.navbar-center{
    margin-left: 7%;
}
.bg{
    background: #ffffff;
}


/* Redes Sociais Contato */
.navbar-right ul{
    position: absolute;
    left: 50%;
    padding: 0;
    margin: 0;
    transform: translate(-50%, -50%);
    display: flex;
}
.navbar-right li{
    list-style: none;
    margin: 0 10px;
}
.navbar-right li .fa{
    font-size: 3vh;
    line-height: 170%;
    color: #000;
}
.navbar-right li .fa{
    color: #fff;
}
.navbar-right li a{
    position: relative;
    display: block;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    transition: .6s;
}
.navbar-right li:nth-child(1) a{
    color: #ffffff;
    background: linear-gradient(to right, #ff4f00, #ff5d14);
}
.navbar-right li:nth-child(2) a{
    background: linear-gradient(to right, #ff4f00, #ff5d14);
}
.navbar-right li:nth-child(3) a{
    background: linear-gradient(to right, #ff4f00, #ff5d14);
}


/* Botão Navbar */